[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Richard Winters (riwinter-cisco)
[access "refs/for/refs/*"]
	read = group user/Richard Winters (riwinter-cisco)
	push = group user/Richard Winters (riwinter-cisco)
	label-Code-Review = -2..+2 group user/Richard Winters (riwinter-cisco)
	label-Verified = -1..+1 group user/Richard Winters (riwinter-cisco)
	rebase = group user/Richard Winters (riwinter-cisco)
	removeReviewer = group user/Richard Winters (riwinter-cisco)
	submit = group user/Richard Winters (riwinter-cisco)
[access "refs/heads/*"]
	read = group user/Richard Winters (riwinter-cisco)
	create = group user/Richard Winters (riwinter-cisco)
	push = +force group user/Richard Winters (riwinter-cisco)
	pushMerge = group user/Richard Winters (riwinter-cisco)
[access "refs/tags/*"]
	push = +force group user/Richard Winters (riwinter-cisco)
	pushTag = group user/Richard Winters (riwinter-cisco)
	pushSignedTag = group user/Richard Winters (riwinter-cisco)
